html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ececec;
}

svg {
	display: block;
	margin: auto;
}
.root, .slice {
	cursor: pointer;
}

.slice {
	fill: #CCC;
}

.root {
	fill: #069;

	transition: transform 0.3s;
}

.root:hover {
	transform: scale(1.1);
}

.title {
  font-style: italic;
  font-size: 64.821251px;
  font-family: Georgia;
  text-align: center;
  text-anchor: middle;
}