html, body {
  background: white;
  margin: 0;

  font-family: "Georgia";
}

body {
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

h1,h2 {
  font-weight: normal;
}

h2 {
  margin-bottom: 0;
}

h2+a {
  font-style: oblique;
  margin-bottom: 1em;
}

img {
  margin: 0 auto;
  display:block;
  max-width: 95%;
}

p, ul {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

ul {
  text-align: left;
}