html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ececec;

  font-family: "Georgia";
}


/* spiralMenu */
svg {
	display: block;
	margin: auto;
}
.root, .slice {
	cursor: pointer;
}

.slice {
	fill: #CCC;
}

.root {
	fill: #069;

	transition: transform 0.3s;
}

.root:hover {
	transform: scale(1.1);
}

.title {
  font-style: italic;
  font-size: 64.821251px;
  font-family: Georgia;
  text-align: center;
  text-anchor: middle;
}

.text-icon {
  font-family: Roboto Thin, sans-serif;
  font-size: 3em;
  /* font-weight: 100; */
  /* text-shadow: 0 0 4px rgba(0,0,0,0.7); */
  fill: white;
  -webkit-font-smoothing: antialiased;
}